body {
}


.rowStyle {
    background-color: silver;
    color: navy;

}

.headerStyle {
    background-color: navy;
    color: white;
}

.alternateStyle {
    background-color: gray;
    color: navy;
}

.selectedRow {
    background-color: yellow;
}

.exHeader {
    background-color: darkblue;
    color: white;
}

.exEvenRow {
    background-color: #28e2e8;
}