* {
	margin: 0;
	padding: 0;
	border: none;
}

.clear_fix:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.Details {
    display: inline-block;
    width:300px;
    margin: 10px;
}