* {
	margin: 0;
	padding: 0;
	border: none;
}

.clear_fix:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    line-height: 0;
}

body {
	font-family: Arial,	Courier, "Arial	Black";
	text-shadow: 0 -1px 1px #BBB;
}

.wrap {
	position: relative;
	width: 1460px;
}

nav {
	float: left;
	width: 160px;
	position: fixed;
	left: 10px;
	top: 10px;
}

.content {
	float: right;
	width: 1280px;
}

a {
	display: block;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	background-color: #EEE;
	margin-bottom: 7px;
	padding-left: 3px;
	-webkit-box-shadow: 1px 1px 1px 1px #AAA;
	box-shadow: 1px 1px 1px 1px #AAA;
	-webkit-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;
	font-size: 90%;
}

h2 {
	background-color: #EEE;
	text-align: center;
	padding: 20px 0;
	margin: 10px 0;
	-webkit-box-shadow: 1px 1px 3px 3px #AAA;
	box-shadow: 1px 1px 3px 3px #AAA;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

