body {
}

.normalStyle {
    background-color: white;
}

.alternateStyle {
    background-color: yellow;
}

#categoryList {
    background-color: #E6ECFF;
    float: left;
    width: 200px;
    padding: 5px;
}

    #categoryList a {
        text-decoration: none;
        color: Black;
    }

        #categoryList a:hover {
            text-decoration: underline;
            color: Black;
        }

#selected {
    background-color: #CCFF80;
}

#productList {
    float: left;
    width: 300px;
    margin-left: 10px;
    background-color: blue;
    color: white;
    padding: 5px;
}