

.clear_fix:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    line-height: 0;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #99CCFF;*/
}

.wrapper {
    border: 10px solid #AAA;
    width: 960px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    padding: 10px 0;
}

h1, legend {
    color: #AAA;
}

.left, .right {
    float: left;
    width: 445px;
}

.right {
    margin-left: 8px;
}

