* {
	margin: 0;
	padding: 0;
	/*border: 0;*/
}

.clear_fix:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    line-height: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.headerStyle {
    background-color: #BBDDFF;
    text-align: center;
    font-weight: bold;
}

.AlternateRowStyle {
    background-color: #BBDDFF;
}

.RowStyle {
    background-color: white;
}

    .RowStyle td:first-child {
        background-color: #BBDDFF;
    }

.q2_box {
    width: 420px;
}

.q2_h2 {
    color: #770099;
}

.q2_header {
    background-color: #770099;
    text-align: center;
    font-weight: bold;
    color: white;
}

.q2_section {
    background-color: #EEEEEE;
    border-bottom: 3px solid #770099;
    padding: 10px 0;
}

.q2_title {
    font-weight: bold;
}

.pageLeft {
    float: left;
}

.pageRight {
    float: right;
    white-space: nowrap;
}

.q4_box {
    width: 300px;
}

.q4_item_title {
    font-weight: bold;
}

.q4_alternate_item {
    background-color: #CCC;
    text-align: right;
}

.q6_left {
    float: left;
    width: 200px;
    background-color: #EEE;
    border: 1px solid #C9D7E5;
}

.q6_right {
    float: left;
    width: 600px;
    background-color: #EEE;
    border: 1px solid #C9D7E5;
    margin-left: 10px;
    padding-top: 20px;
}

.q6_item {
    border: 1px solid #C9D7E5;
    padding: 5px;
}

.wrap {
    width: 960px;
    border: 10px solid #006699;
    padding: 10px;
    margin: 0 auto;
}

.wrap h3 {
    color: #3989B4;
}

.latest {
    text-align: right;
    padding: 0 50px;
}

.left {
    width: 260px;
    float: left;
}

.middle {
    width: 400px;
    float: left;
    margin: 20px 5px 5px 5px;
}

.middle td, .middle tr, .middle table, .middle th {
    border: 0;
}

.middle td {
    padding-left: 3px;
}

.right {
    width: 280px;
    float: left;
}

.right a {
    float: right;
    width: 100px;
}

footer {
    border-top: 1px solid cyan;
    text-align: center;
}

aside {
    border: 1px dotted #FFC68C;
    padding: 2px;
    margin-bottom: 20px;
}

h4 {
    color: #FFC68C;
}

.grid_antenate_row {
    background-color: #CAEEFF;
}

.books {
    margin: 10px;
}

.books h4 {
    color: #0E6A9F;
}

.header_style {
    text-align: left;
}